PORT=3000
JWT_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

AUTH_SERVICE_URL=http://auth-service:4000
CORE_SERVICE_URL=http://core-service:4001
AUXILIARY_SERVICE_URL=http://auxiliary-service:4003
