PORT=4001
DATABASE_URL=postgresql://user:password@localhost:5432/partyhub?schema=core
JWT_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
REDIS_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379
ATTENDEE_SERVICE_URL=http://auxiliary-service:4003
