PORT=4000
DATABASE_URL=postgresql://user:password@localhost:5432/partyhub?schema=auth
JWT_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
REDIS_HOST=redis
REDIS_PORT=6379
